<webapp>
<servlet>  
<servlet-name>MainServlet</servlet-name>  
<servlet-class>MainServlet</servlet-class>  
</servlet>  

<servlet-mapping>  
<servlet-name>MainServlet</servlet-name>  
<url-pattern>/Main</url-pattern>  
</servlet-mapping> 

<servlet>  
<servlet-name>AddPersonServlet</servlet-name>  
<servlet-class>AddPersonServlet</servlet-class>  
</servlet>  

<servlet-mapping>  
<servlet-name>AddPersonServlet</servlet-name>  
<url-pattern>/AddPerson</url-pattern>  
</servlet-mapping> 

<servlet>  
<servlet-name>EditPersonServlet</servlet-name>  
<servlet-class>EditPersonServlet</servlet-class>  
</servlet>  

<servlet-mapping>  
<servlet-name>EditPersonServlet</servlet-name>  
<url-pattern>/EditPerson</url-pattern>  
</servlet-mapping> 

<servlet>  
<servlet-name>ManageContactsServlet</servlet-name>  
<servlet-class>ManageContactsServlet</servlet-class>  
</servlet>  

<servlet-mapping>  
<servlet-name>ManageContactsServlet</servlet-name>  
<url-pattern>/ManageContacts</url-pattern>  
</servlet-mapping> 

<servlet>  
<servlet-name>AddContactServlet</servlet-name>  
<servlet-class>AddContactServlet</servlet-class>  
</servlet>  

<servlet-mapping>  
<servlet-name>AddContactServlet</servlet-name>  
<url-pattern>/ManageContacts/AddContact</url-pattern>  
</servlet-mapping> 

</webapp>